body, html {
 margin:0;
 padding: 0;
 margin-right: 0;
 margin-left: 0;
 
 }
 .dropbtn {
 background-image: linear-gradient(#28313b,rgb(39,39,39),#28313b);
 color:;
 padding: 20px;
 font-size: 20px;
 border: none;
 cursor: pointer;
 border-radius: 5px;
 position: relative;
 right: 492px;
 }
 
 .dropbtn:hover, .dropbtn:focus {
 background-color: ;
 }
 
 .dropdown {
 position: relative;
 display: inline-block;
 }
 
 .dropdown-content {
 display: none;
 position: absolute;
 background-image:linear-gradient(#28313b,rgb(39,39,39),#28313b);
 width: 1025px;
 overflow: auto;
 left: -24px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
 }
 
 .dropdown-content a {
 color: #fff000;
 padding: 12px 16px;
 text-decoration: none;
 font-size: 50px;
 display: block;
 border: 1px solid black;
 }
 
 .navbar{
 width: 1001px;
 background-image: linear-gradient(#28313b,rgb(39,39,39),#28313b);
 border-radius: 5px;
 }
 
 h8{ 
 font-family: "Luckiest Guy";
 color: yellow;
 font-size: 50px;
 font-weight: 400; 
 position: relative;
 text-align: left;
 left: 110px;                            
 text-shadow: 0 2px orange , 0 2px red ;
 margin:0; 
 }
 
 
 .dropdown a:hover {background-color:#6160b6;}
 
 .show {display: block;}
